html,body{
    height: 100%;

}

#controle{
    float: right;
    text-align: center;
}

#controle div button{
    margin-left: 1em;
    margin-right: 1em;
}

#cenario{
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #5AE;
    margin:auto;
    top: 5%;
    
}

#pardal{
    height: 10px;
    width: 10px;
    background-color: black;
    position: absolute;
}